FRONTEND_URL="https://reactfileupload-bwgo--5173--96435430.local-credentialless.webcontainer.io,https://super-potato-wrqq9vp54xrhx4-5173.app.github.dev,https://ideal-spork-q7559vj4575h9574-8081.app.github.dev,\nhttps://super-potato-wrqq9vp54xrhx4-5173.app.github.dev,https://zp1v56uxy8rdx5ypatb0ockcb9tr6a-oci3--5173--96435430.local-credentialless.webcontainer-api.io,https://legendary-halibut-5g774vjrp6qfw4p-5173.app.github.dev,https://zp1v56uxy8rdx5ypatb0ockcb9tr6a-oci3--8081--96435430.local-credentialless.webcontainer-api.io,https://effective-succotash-wv9xpjpwjw299vw-8081.app.github.dev,\nhttps://reactfileupload-bwgo--5173--cf284e50.local-credentialless.webcontainer.io"
JWT_SECRET=naveenboda
MONGODB_URI="mongodb+srv://naveenboda1993:fno58IFNKHd1g7SB@cluster0.qnfyoeg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
NODE_ENV=development
SAP_AUTH_URL=https://s2-demo-environment-bm4heefm.authentication.us10.hana.ondemand.com/oauth/token
SAP_CLIENT_ID=sb-300431c9-3929-4f39-89c0-81b3b520eb2d!b148497|dox-xsuaa-std-production!b9505
SAP_CLIENT_SECRET="c4e79a49-c51f-417f-b8c8-71cec430fc43$GYL0F7tdvS28vwpKg40oQHkehaVvbbOpVKGGsFwLPvk="
SAP_DOC_URL=https://aiservices-dox.cfapps.us10.hana.ondemand.com/document-information-extraction/v1/
PORT=8080